---
layout: default
title: Advert
noindex: true
---

{% include eventbrite-loader.html %}

<div class="row justify-content-center">
    <div class="col-md-8 text-center">
        <h2>Glasgow Improv Theatre</h2>
        
        <div class="text-center">
            <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                <i class="fa fa-chair fa-stack-1x fa-inverse"></i>
            </span>
        </div>
        <br />

        <div class="alert alert-success alert-dismissible fade show" role="alert">
            Thanks for clicking on our advert :)
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        
        {% include beginners-container.html %}
        
    </div>
</div>

    
{% include beginners-load.html %}
