---
layout: default
title: Glasgow Comedy Festival shows
---


<div class="row justify-content-center">
    <div class="col-md-8 text-center">
        <h2>GIT Glasgow Comedy Festival Shows</h2>
        <div class="text-center">
            <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                <i class="fa fa-chair fa-stack-1x fa-inverse"></i>
            </span>
        </div>
        <br />
        <div class="" id="event-container">
            {% include loading-spinner.html %}
            <br />
            <p class="text-center text-muted">Loading...</p>
        </div>
    </div>
</div>

    {% include eventbrite-loader.html %}

    <div class="text-center">
        <p>Didn't find what you're looking for?<br /> 
            Check out our full schedule:</p>
        <a href="{{site.url}}/events#workshops" class="btn btn-primary btn-lg me-3">All Classes</a>
        <a href="{{site.url}}/events#shows" class="btn btn-primary btn-lg ms-3">Shows</a>
    </div>
    
    <script type="text/javascript">
       
        function eventsLoaded() {
            applyFilter(); 
        }

        function applyFilter() {
          var selectedFilter = $("input[name='filter']:checked").val();
          var filteredEvents;
          filteredEvents = allEventsData.events.filter(event => event.name.text.toLowerCase().includes("glasgow comedy fest"));
                  

          $("#event-container").empty();

          var eventsByDate = {};

          filteredEvents.forEach(event => {
              var startDate = new Date(event.start.local);
              var dateFormatted = startDate.toLocaleString('en-GB', {
                  weekday: 'long',
                  day: 'numeric',
                  month: 'short',
                  year: 'numeric'
              }).replace(/,/g, '');
              var timeFormatted = startDate.toLocaleString('en-GB', {
                  hour: 'numeric',
                  minute: 'numeric',
                  hour12: true
              });

              var dateKey = dateFormatted;

              if (!eventsByDate[dateKey]) {
                  eventsByDate[dateKey] = [];
              }

              eventsByDate[dateKey].push({ event, timeFormatted });
          });

          for (var dateKey in eventsByDate) {
              var events = eventsByDate[dateKey];

              var $dateContainer = $("<div>").addClass("mb-4 d-flex flex-wrap justify-content-center");
              var $dateHeader = $("<h3 class='col-md-12 text-center mb-3'>").text(dateKey).addClass("mb-3");

              events.forEach(eventData => {
                  var event = eventData.event;
                  var timeFormatted = eventData.timeFormatted;

                  var name = event.name["text"];
                  var summary = event.summary;
                  var url = event.url;
                  var startDate = new Date(event.start.local);
                  var imageUrl = event.logo.original["url"];
                  var venue = event.venue["name"];
                  var venueAddress = event.venue.address["localized_address_display"];
                  var isSoldOut = event.ticket_availability["is_sold_out"];
                  var waitlistAvailable = event.ticket_availability["waitlist_available"];

                  var $eventCard = $("<div>").addClass("card mb-3 col-md-6");
                  var $eventImageLink = $("<a>").attr("href", url).attr("target", "_blank");
                  var $eventImage = $("<img>").addClass("card-img-top").attr("src", imageUrl);
                  var $eventCardBody = $("<div>").addClass("card-body text-center");
                  var $eventName = $("<h5>").addClass("card-title").text(name);
                  var $eventSummary = $("<p>").addClass("card-text").text(summary);
                  var $eventTime = $("<p>").addClass("card-text").text("Time: " + timeFormatted);
                  var $eventDate = $("<p>").addClass("card-text").text("Date: " + dateKey);
                  var $eventVenue = $("<p>").addClass("card-text").text("Venue: " + venue);
                  var $eventAddress = $("<p>").addClass("card-text").text("Address: " + venueAddress);
                  var $ticketLink = $("<a>").addClass("btn").attr("href", url).attr("target", "_blank");

                  if (isSoldOut && waitlistAvailable) {
                      $ticketLink.text("Waitlist").addClass("btn-danger").prop("disabled", true);
                  } 
                  else if (isSoldOut) {
                      $ticketLink.text("Sold Out").addClass("btn-danger").prop("disabled", true);
                  } 
                  else {
                      $ticketLink.text("Get Tickets").addClass("btn-primary");
                  }

                  $eventImageLink.append($eventImage);
                  $eventCardBody.append($eventName, $eventSummary, $eventTime, $eventDate, $eventVenue, $eventAddress, $ticketLink);
                  $eventCard.append($eventImageLink, $eventCardBody);
                  $dateContainer.append($eventCard);
              });

              $dateContainer.prepend($dateHeader);
              $("#event-container").append($dateContainer);
          }
      }
      function toggleCalendar(){
        $("#divCalendar").slideToggle("slow", function() {
            var buttonText = $(this).is(":visible") ? "Hide Calendar" : "View Calendar";
            $("#btnCalendar").text(buttonText);
        });
      }

    </script>