
<script type="text/javascript">
       
    function eventsLoaded() {
        applyFilter(); 
    }

    function applyFilter() {
        
        $("#event-container").empty();

        displayEvents("101");
        displayEvents("beginners");
        
    }

    function displayEvents(filter){
        var events;
        var title;
        if(filter === "101"){
            events = allEventsData.events.filter(event => event.name.text.toLowerCase().includes("course") && event.name.text.toLowerCase().includes("101"));
            title = "GIT 101 Courses";

            if (events.length === 0) {
                $("#divNoGIT101Found").show();
            }
            else{
                $("#divNoGIT101Found").hide();
                $("#event-container").append($("<h2>").text(title));
            }
        }
        else if(filter === "beginners"){
            events = allEventsData.events.filter(event => event.name.text.toLowerCase().includes("beginners"));
            title = "Beginners Drop-in Workshops";
            $("#event-container").append($("<h2>").text(title));
        }


        var eventsByDate = {};

        events.forEach(event => {
            var startDate = new Date(event.start.local);
            var dateFormatted = startDate.toLocaleString('en-GB', {
                weekday: 'long',
                day: 'numeric',
                month: 'short',
                year: 'numeric'
            }).replace(/,/g, '');
            var timeFormatted = startDate.toLocaleString('en-GB', {
                hour: 'numeric',
                minute: 'numeric',
                hour12: true
            });

            var dateKey = dateFormatted;

            if (!eventsByDate[dateKey]) {
                eventsByDate[dateKey] = [];
            }

            eventsByDate[dateKey].push({ event, timeFormatted });
        });

        for (var dateKey in eventsByDate) {
            var events = eventsByDate[dateKey];

            var $dateContainer = $("<div>").addClass("mb-4 d-flex flex-wrap justify-content-center");
            var $dateHeader = $("<h3 class='col-md-12 text-center mb-3'>").text(dateKey).addClass("mb-3");

            events.forEach(eventData => {
                var event = eventData.event;
                var timeFormatted = eventData.timeFormatted;

                var name = event.name["text"];
                var summary = event.summary;
                var url = event.url;
                var startDate = new Date(event.start.local);
                var imageUrl = event.logo.original["url"];
                var venue = event.venue["name"];
                var venueAddress = event.venue.address["localized_address_display"];
                var isSoldOut = event.ticket_availability["is_sold_out"];
                var waitlistAvailable = event.ticket_availability["waitlist_available"];

                var $eventCard = $("<div>").addClass("card mb-3 col-md-6");
                var $eventImageLink = $("<a>").attr("href", url).attr("target", "_blank");
                var $eventImage = $("<img>").addClass("card-img-top").attr("src", imageUrl);
                var $eventCardBody = $("<div>").addClass("card-body text-center");
                var $eventName = $("<h5>").addClass("card-title").text(name);
                var $eventSummary = $("<p>").addClass("card-text").text(summary);
                var $eventTime = $("<p>").addClass("card-text").text("Time: " + timeFormatted);
                var $eventDate = $("<p>").addClass("card-text").text("Date: " + dateKey);
                var $eventVenue = $("<p>").addClass("card-text").text("Venue: " + venue);
                var $eventAddress = $("<p>").addClass("card-text").text("Address: " + venueAddress);
                var $ticketLink = $("<a>").addClass("btn").attr("href", url).attr("target", "_blank");

                if (isSoldOut && waitlistAvailable) {
                    $ticketLink.text("Waitlist").addClass("btn-danger").prop("disabled", true);
                } 
                else if (isSoldOut) {
                    $ticketLink.text("Sold Out").addClass("btn-danger").prop("disabled", true);
                } else {
                    $ticketLink.text("Get Tickets").addClass("btn-primary");
                }

                $eventImageLink.append($eventImage);
                $eventCardBody.append($eventName, $eventSummary, $eventTime, $eventDate, $eventVenue, $eventAddress, $ticketLink);
                $eventCard.append($eventImageLink, $eventCardBody);
                $dateContainer.append($eventCard);
            });

            $dateContainer.prepend($dateHeader);
            $("#event-container").append($dateContainer);
        }
  }

</script>