<!-- calendar section -->
    <section id="calendar">
        <div class="container">
            <div class="row text-center">
                <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=2&bgcolor=%23ffffff&ctz=Europe%2FLondon&showPrint=0&showTabs=1&showCalendars=1&hl=en_GB&title=Glasgow%20Improv%20Theatre%20events%20calendar&src=Z2xhc2dvd2ltcHJvdnRoZWF0cmVAZ21haWwuY29t&color=%23039BE5" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
            </div>
            <br /><br />
            <div class="row text-center">
                <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FImprovGlasgow%2F&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=382576252103805" width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
            </div>
        </div>
    </section>
