<!-- Classes Section -->
    <section id="classes" class="bg-light-gray">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-12 ">
                    <h2 class="section-heading">Classes</h2>
                    <h3 class="section-subheading text-muted">
                        We have structured improv classes for all levels.
                        <br /><br />
                        Email us if you have any questions, or to book classes: <a class="btn btn-info btn-sm" href="mailto:{{site.email}}">{{site.email}}</a>
                        <br /><br />
                        Sign up for our mailing list to be the first to hear about new classes: 
                        <a class="btn btn-info btn-sm" href="{{site.mailing-list-link}}">Sign up to mailing list</a>
                    </h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-battery-empty fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Improv 101</h4>
                    <p>
                        {% if site.101-link == '' %}
                            <a href="{{site.mailing-list-link}}" class="btn btn-default" target="_blank">
                                Register interest
                            </a>
                        {% else %}
                            <p>
                                <a href="mailto:{{site.email}}" class="btn btn-info" target="_blank">
                                    Email to book
                                </a>
                            </p>
                            <p>
                                <a href="{{site.101-link}}" class="btn btn-danger" target="_blank">
                                    Class starting: <br> {{site.101-date}}
                                </a>
                            </p>
                            <p>
                                <a href="{{site.101-link}}" class="btn btn-default" target="_blank">
                                    More info
                                </a>
                            </p>
                        {% endif %}
                    </p>
                    <p class="text-muted">If you are new to improv or need a refresher. Suitable for beginners!</p>
                    <p class="text-muted">Scene fundamentals, agreement, listening, and playing grounded characters</p>
                    <p class="text-muted">Graduation show</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-battery-quarter fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Improv 201</h4>
                    <p>
                        {% if site.201-link == '' %}
                            <a href="{{site.mailing-list-link}}" class="btn btn-default" target="_blank">
                                Register interest
                            </a>
                        {% else %}
                            <p>
                                <a href="mailto:{{site.email}}" class="btn btn-info" target="_blank">
                                    Email to book
                                </a>
                            </p>
                            <p>
                                <a href="{{site.201-link}}" class="btn btn-danger" target="_blank">
                                    Class starting: <br> {{site.201-date}}
                                </a>
                                <br />
                                <a href="{{site.201-link}}" class="btn btn-default" target="_blank">
                                    More info
                                </a>
                            </p>
                        {% endif %}
                    </p>
                    <p class="text-muted">Pre-requisites: GIT 101 (or equivalent)</p>
                    <p class="text-muted">Game of the scene, heightening & exploration, 2nd beats</p>
                    <p class="text-muted">Graduation show</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-battery-half fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Improv 301</h4>
                    <p>
                        {% if site.301-link == '' %}
                            <a href="{{site.mailing-list-link}}" class="btn btn-default" target="_blank">
                                Register interest
                            </a>
                        {% else %}
                            <p>
                                <a href="mailto:{{site.email}}" class="btn btn-info" target="_blank">
                                    Email to book
                                </a>
                            </p>
                            <p>
                                <a href="{{site.301-link}}" class="btn btn-danger" target="_blank">
                                    Class starting: <br> {{site.301-date}}
                                </a>
                            </p>
                            <p>
                                <a href="{{site.301-link}}" class="btn btn-default" target="_blank">
                                    More info
                                </a>
                            </p>
                        {% endif %}
                    </p>
                    <p class="text-muted">Pre-requisites: GIT 201 (or equivalent)</p>
                    <p class="text-muted">The Harold, openings, group games</p>
                    <p class="text-muted">Graduation show</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-battery-full fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Improv 401</h4>
                    <p>
                        {% if site.401-link == '' %}
                            <a href="{{site.mailing-list-link}}" class="btn btn-default" target="_blank">
                                Register interest
                            </a>
                        {% else %}
                            <p>
                                <a href="mailto:{{site.email}}" class="btn btn-info" target="_blank">
                                    Email to book
                                </a>
                            </p>
                            <p>
                                <a href="{{site.401-link}}" class="btn btn-danger" target="_blank">
                                    Class starting: <br> {{site.401-date}}
                                </a>
                            </p>
                            <p>
                                <a href="{{site.401-link}}" class="btn btn-default" target="_blank">
                                    More info
                                </a>
                            </p>
                        {% endif %}
                    </p>
                    <p class="text-muted">Pre-requisites: GIT 301 (or equivalent)</p>
                    <p class="text-muted">Advanced techniques, different forms/openings</p>
                    <p class="text-muted">Graduation show</p>
                </div>
            </div>
            <br />
            <div class="row text-center">
                <div class="col-md-3 col-md-offset-1">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-umbrella fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Drop-in workshops</h4>
                    <p>
                        <a href="{{site.fbevents-link}}" class="btn btn-default" target="_blank">Check Facebook Events</a>
                    </p>
                    <p class="text-muted">A no commitment taster session</p>
                    <p class="text-muted">A chance for futher practice</p>
                    <br />
                    <p class="text-muted"><strong>Coming soon...</strong></p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Guest teacher workshops</h4>
                    <p>
                        <a href="{{site.fbevents-link}}" class="btn btn-default" target="_blank">Check Facebook Events</a>
                    </p>
                    <p class="text-muted">Visiting teachers from UCB Los Angeles, New York and elsewhere!</p>
                    <br />
                    <p class="text-muted"><strong>Previous teachers:</strong></p>
                    <p class="text-muted">Jake Jabbour (UCB Los Angeles)</p>
                    <p class="text-muted">Josh Simpson (UCB Los Angeles)</p>
                    <p class="text-muted">Alan Starzinski (UCB Los Angeles)</p>
                    <p class="text-muted">Sean Casey (UCB New York)</p>
                    <p class="text-muted">Johnna Scrabis (UCB New York)</p>
                    <p class="text-muted">Jonathan Pitts (Chicago Improv Festival)</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-briefcase fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Corporate workshops & events</h4>
                    <p>
                        <a href="mailto:{{site.email}}" class="btn btn-info" target="_blank">Email to book</a>
                    </p>
                    <p class="text-muted">Book an improv workshop or show for team building, special events, or parties!</p>
                    <br />
                    <p class="text-muted"><strong>Client Testimonial:</strong></p>
                    <p class="text-muted">
                        <em>
                            "Every year I try and offer my hard working team something different and funny as the main entertainment at our Christmas office party, so I searched the internet for a local Glasgow improv team that could deliver a fantastic one hour show for us. You have no idea how delighted I was after I picked the hilarious Glasgow Improv Theatre; they were all equally engaging, hilarious, quick-witted and hugely entertaining – my team loved them so much I had to invite them back again for this year’s Christmas Office Party.
                        </em>
                    </p>
                    <p class="text-muted">
                        <em>
                            If you want to book an amazingly funny, side-splitting and tears rolling down your cheeks entertainment show at your next Corporate Event, then look no further than The Glasgow Improv Theatre – great work guys, please, please keep it going”
                        </em>
                    </p>
                    <p class="text-muted">
                        Craig T Gibson <br>
                        Managing Director <br>
                        <strong>AGL Wealth Management Ltd</strong>
                    </p>
                </div>
            </div>
        </div>
    </section>
