<!-- Services Section -->
    <section id="classes">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-12 ">
                    <h2 class="section-heading">Classes</h2>
                    <h3 class="section-subheading text-muted">We have structured improv classes for all levels.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-battery-0 fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Improv 101</h4>
                    <p class="text-muted">If you are new to improv or need a refresher</p>
                    <p class="text-muted">Scene fundamentals, the Armando</p>
                    <p class="text-muted">Graduation show</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-battery-1 fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Improv 201</h4>
                    <p class="text-muted">Pre-requisites: GIT 101 (or equivalent)</p>
                    <p class="text-muted">Game of the scene, heightening & exploration, 2nd beats</p>
                    <p class="text-muted">Graduation show</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-battery-3 fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Improv 301</h4>
                    <p class="text-muted">Pre-requisites: GIT 201 (or equivalent)</p>
                    <p class="text-muted">The Harold, openings, group games</p>
                    <p class="text-muted">Graduation show</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-battery-4 fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Improv 401</h4>
                    <p class="text-muted">Pre-requisites: GIT 301 (or equivalent)</p>
                    <p class="text-muted">Advanced techniques, different forms/openings</p>
                    <p class="text-muted">Graduation show</p>
                </div>
            </div>
            
            <div class="row text-center">
                <div class="col-md-offset-3 col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-umbrella fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Drop-in workshops</h4>
                    <p class="text-muted">A no commitment taster session</p>
                    <p class="text-muted">A chance for futher practice</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Guest teacher workshops</h4>
                    <p class="text-muted">Visiting teachers from UCB Los Angeles, New York and elsewhere!</p>
                </div>
            </div>
        </div>
    </section>
