<div class="container py-4 mt-5 border-top">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-10 col-md-8 col-lg-6">
      <div class="card shadow rounded-3 overflow-hidden">
        <a href="/events">
            <img id="randomImage" class="img-fluid" alt="Glasgow Improv Theatre events" title="Glasgow Improv Theatre events"/>
        </a>
      </div>
    </div>
  </div>
</div>


<script>
const imageFolder = 'img/shows/';
const imageCount = {{ site.showImageCount }};

function showRandomImage() {
    const randomIndex = Math.floor(Math.random() * imageCount) + 1;
    const imagePath = `${imageFolder}${randomIndex}.jpg`;
    document.getElementById('randomImage').src = imagePath;
}

window.onload = showRandomImage;
</script>
