<div class="mb-4 d-flex flex-wrap justify-content-center" id="carouselContainer" style="display: none !important;">
    <div class="card mb-3 col-md-3">
        <div class="carousel slide carousel-dark" data-bs-ride="carousel" id="carousel">
            <div class="carousel-indicators">
            </div>
            <div class="carousel-inner" id="carouselItems" style="min-height: 400px;">
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev" style="margin-top: 185px;">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next" style="margin-top: 185px;">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>