<!-- shows section -->
    <section id="shows" class="bg-light-gray">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Shows</h2>
                    <h3 class="section-subheading text-muted">Glasgow Improv Theatre shows.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <div class="text-center">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-chair fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="service-heading">Harold Night</h4>
                        <h5 class="service-heading">1st Tue Every Month at Blackfriars</h5>
                    </div>
                    <p class="text-muted">
                        One hilarious show, completely improvised by two teams, based off an audience suggestion. Improv comedy at its finest.
                    </p>
                    <p class="text-muted">
                        Feat. house team Couch + special guests!
                    </p>
                    <p class="text-muted">
                        Glasgow Harold Night is a monthly improv comedy show that has been running since 2016. Come and be entertained by some of the best improvisers in the country!
                    </p>
                </div>
            </div>
            <br /><br />
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <div class="text-center">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-city fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="service-heading">Improv Fucktown</h4>
                        <h5 class="service-heading">Glasgow Comedy Festival March 2020!</h5>
                    </div>
                    <p class="text-muted">
                       Tuesday 17 March
                        <br />
                        Tuesday 24 March
                        <br />
                        £3/£2
                    </p>
                    <p class="text-muted">
                        Tix: <a href="http://www.glasgowcomedyfestival.com/shows/2843">http://www.glasgowcomedyfestival.com/shows/2843</a>
                    </p>
                    <p class="text-muted">
                        Welcome to Improv F*cktown, population: YOU!
                    </p>
                    <p class="text-muted">
                        An improv comedy show from Couch (Glasgow Improv Theatre, Glasgow Harold Night, Improv Cage Match) plus special guests.
                    </p>
                    <p class="text-muted">
                        Some of the best improvisers in the country are leaving home comforts behind to perform in a variety of fun and exciting long-form improv formats.
                    </p>
                    <p class="text-muted">
                        Join them as they travel to: IMPROV F*CKTOWN!
                    </p>
                </div>
            </div>
            <br /><br />
            <div class="row text-center">
                <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FImprovGlasgow&tabs=events&width=340&height=388&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=382576252103805" width="340" height="388" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
            </div>
        </div>
    </section>
