<!-- shows section -->
    <section id="shows">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Shows</h2>
                    <h3 class="section-subheading text-muted">Glasgow Improv Theatre shows.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <div class="text-center">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-chair fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="service-heading">Harold Night</h4>
                    </div>
                    <p class="text-muted">
                        One hilarious show, completely improvised by two teams, based off an audience suggestion. Improv comedy at its finest.
                    </p>
                    <p class="text-muted">
                        Feat. house team Couch + special guests!
                    </p>
                    <p class="text-muted">
                        Glasgow Harold Night is a monthly improv comedy show that has been running since 2016. Come and be entertained by some of the best improvisers in the country!
                    </p>
                </div>
            </div>
            <br /><br />
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <div class="text-center">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fab fa-youtube fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="service-heading">Couch Spotify-improv Livestream</h4>
                    </div>
                    <p class="text-muted">
                        Our lockdown show!
                    </p>
                    <p class="text-muted">
                        Couch (plus special guests) perform their Spotify-improv format. Improvised scenes based off of your song suggestions.
                    </p>
                    <p class="text-muted">
                        Add you song suggestions to our <a href="http://bit.ly/CouchImprov">Spotify Playlist</a>!
                    </p>
                    <p class="text-muted">
                        Livestreaming on <a href="http://www.facebook.com/improvglasgow/live">Facebook Live</a>!
                    </p>
                    <p class="text-muted">
                        <a href="http://www.facebook.com/improvglasgow/live">Facebook Live</a>
                    </p>
                </div>
            </div>
            <br /><br />
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <div class="text-center">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-chair fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="service-heading">Improv Fucktown</h4>
                    </div>
                    <p class="text-muted">
                        A night of experimentation, where various groups of rag tag misfits try out something new.
                    </p>
                </div>
            </div>
            <br /><br />
            <br /><br />
            <div class="row text-center">
                <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FImprovGlasgow&tabs=events&width=340&height=388&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=382576252103805" width="340" height="388" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
            </div>
        </div>
    </section>
