<!-- shows section -->
    <section id="shows">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Shows</h2>
                    <h3 class="section-subheading text-muted">Check our <a href="https://www.facebook.com/ImprovGlasgow/events">Facebook Events</a> and our <a href="https://www.eventbrite.co.uk/o/glasgow-improv-theatre-34226064029">Eventbrite</a> for our latest events</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <div class="text-center">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-couch fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="service-heading">Couch Surf</h4>
                    </div>
                    <p class="text-muted">
                        A night of improv comedy from Glasgow Improv Theatre's Couch and special guests who are crashing for the night.
                    </p>
                    <p class="text-muted">
                        No two nights are the same as our rotating cast of some of the best improvisers in the country take the true stories of our special guests and turn them into sketches, made-up on the spot.
                    </p>
                    <p class="text-muted">
                        Past guests have included Marc Jennings (Scottish Comedian of the Year), Stuart McPherson (BBC's Scot Squad), Toni Charline (Comedy Bang! Bang! & UCB) and Patrick Noth (MTV & Comedy Central & UCB).
                    </p>
                    <p class="text-muted">
                        1st + 3rd Saturdays of month
                    </p>
                    <p class="text-muted">
                        Blackfriars Basement (Glasgow)
                    </p>
                    <p class="text-muted">
                        Tickets: <a href="https://www.eventbrite.co.uk/e/the-git-presents-couch-surf-tickets-409501007537">Couch Surf Eventbrite Tickets</a>
                    </p>
                </div>
            </div>
            <br /><br />
            
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <div class="text-center">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-chair fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="service-heading">Yer Da Wants A Word</h4>
                    </div>
                    <p class="text-muted">
                        A monthly show featuring a performance from friendly neighbourhood improv team Yer Da and a very special guest team - YOU!
                    </p>
                    <p class="text-muted">
                        Stick your name in the bucket for your chance to join in the second half jam.
                    </p>
                    <p class="text-muted">
                        3rd Tue of the month (<a href="https://www.facebook.com/ImprovGlasgow/events">Check Facebook for event listings</a>)
                    </p>
                    <p class="text-muted">
                        Doors 8pm<br />
                        Show 8.30pm<br />
                        Old Hairdressers (Renfield Lane, Glasgow)
                    </p>
                </div>
            </div>
            <br /><br />
            
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <div class="text-center">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-chair fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="service-heading">Glasgow Harold Night</h4>
                    </div>
                    <p class="text-muted">
                        Two teams perform The Harold, a classic longform improv structure.
                    </p>
                    <p class="text-muted">
                        Glasgow Harold Night is an improv comedy show that has been running since 2016.
                    </p>
                    <p class="text-muted">
                        1st Tue of the month (<a href="https://www.facebook.com/ImprovGlasgow/events">Check Facebook for event listings</a>)
                    </p>
                    <p class="text-muted">
                        Doors 8pm<br />
                        Show 8.30pm<br />
                        Old Hairdressers (Renfield Lane, Glasgow)
                    </p>
                </div>
            </div>
            <br /><br />
            <br /><br />
            <br /><br />
            <div class="row text-center">
                <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FImprovGlasgow%2F&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=382576252103805" width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
            </div>
        </div>
    </section>
