<!-- Teams Section -->
    <section id="teams" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Teams</h2>
                    <h3 class="section-subheading text-muted">GIT House Teams</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <p class="text-muted">
                        Students who have progressed through Glasgow Improv Theatre courses will have the opportunity to audition for a GIT House Team.
                    </p>
                    <p class="text-muted">
                        We will hold auditions every year for house teams, taking a GIT class is not necessary to audition but improv experience is.
                    </p>
                    <p class="text-muted">
                        There will be slots for teams to perform at Glasgow Harold Night, with an opportunity to be on a house team. We will also offer coaching and guidance for our teams.
                    </p>
                </div>
            </div>
            <br /> <br />
            <div class="row">
                <div class="col-lg-12 text-center">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-couch fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3 class="section-heading">Couch</h3>
                    <ul class="list-inline social-buttons">
                        
                        <li><a href="http://twitter.com/couchimprov"><i class="fab fa-twitter"></i></a>
                        </li>
                        
                        <li><a href="http://facebook.com/couchimprov"><i class="fab fa-facebook"></i></a>
                        </li>
                        
                        <li><a href="http://instagram.com/couchimprov"><i class="fab fa-instagram"></i></a>
                        </li>
                        
                    </ul>
                </div>
            </div>
            <br /> <br />
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <p class="text-muted">
                        Couch are a long-form improv team from Glasgow. They were the first Glasgow Improv Theatre house team for Glasgow Harold Night. They have also been seen at Improv F*cktown, and Improv Cage Match.
                    </p>
                    <p class="text-muted">
                        Their members have trained at the Upright Citizens Brigade Theatre, and have performed at festivals such as DCM in New York and the Edinburgh Fringe Festival. 
                    </p>
                    <p class="text-muted">
                        They are going to do a Harold and need a suggestion to get started. Or they are going to do their Improv Spotify show, please add songs to their playlist.
                    </p>
                </div>
            </div>
            <br /><br />
            <div class="row">
                <div class="col-lg-12 text-center">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3 class="section-heading">Yer Da</h3>
                    <ul class="list-inline social-buttons">
                        
                        <li><a href="http://instagram.com/yerdaimprov"><i class="fab fa-instagram"></i></a>
                        </li>
                        
                    </ul>
                </div>
            </div>
            <br /> <br />
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <p class="text-muted">
                        The test to determine who Yer Da is came back inconclusive, but we've narrowed it down to these 7 improvisers. Chris, Christine, John, Karen, Laura, Paul and Sharpie who will perform for your acceptance.
                    </p>
                    <p class="text-muted">
                        Team members have been spotted doing guests appearances on Will Hines' How Was Your Week and legendary podcast Improv4Humans.
                    </p>
                </div>
            </div>
            <br /><br />
            <div class="row">
                <div class="col-lg-12 text-center">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-tshirt fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3 class="section-heading">One Big Jacket</h3>
                    <ul class="list-inline social-buttons">
                        
                        <li><a href="http://instagram.com/onebigjacket.improv"><i class="fab fa-instagram"></i></a>
                        </li>
                        
                    </ul>
                </div>
            </div>
            <br /> <br />
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <p class="text-muted">
                        GIT House team at Glasgow Harold Night
                    </p>
                    <p class="text-muted">
                        ...
                    </p>
                </div>
            </div>
            <br /><br />
            <div class="row">
                <div class="col-lg-12 text-center">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-leaf fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3 class="section-heading">God's Lettuce</h3>
                    <ul class="list-inline social-buttons">
                        <li><a href="http://instagram.com/gods.lettuce.improv"><i class="fab fa-instagram"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <br /> <br />
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <p class="text-muted">
                        GIT House team at Glasgow Harold Night
                    </p>
                    <p class="text-muted">
                        With members from Glasgow to Edinburgh, and even Falkirk, God’s Lettuce provides a diverse range of funny. Cool cats coming at ya large, as the Lettuce intended.
                    </p>
                </div>
            </div>
            <br /><br />
            <div class="row">
                <div class="col-lg-12 text-center">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-dog fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3 class="section-heading">President Dog</h3>
                    <ul class="list-inline social-buttons">
                        
                        <li><a href="http://instagram.com/presidentdogimprov"><i class="fab fa-instagram"></i></a>
                        </li>
                        
                    </ul>
                </div>
            </div>
            <br /> <br />
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <p class="text-muted">
                        GIT House team at Glasgow Harold Night
                    </p>
                    <p class="text-muted">
                        President Dog have a legally elected mandate to make you laugh
                    </p>
                </div>
            </div>
        </div>
    </section>
